@font-face {
    font-family: 'lw';
    src: url(fonts/latest.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'lw';
}
header{
    width: 100%;
    height: 54px;
    color: #17253D;
    font-size: 16px;
    background-color:#FFFFFF;
    justify-content: center;
    display: flex;
}
.header{
    width: 100%;
    height: 54px;
    color: #1A1A1F;
    background-color: #FFFFFF;
    font-size: 13px;
    margin: 0px 0px 2px;
    padding: 0px 91.75px;
}
.header1{
    width: 100%;
    height: 54px;
    align-items: center;
}
.header2{
    display: flex;
}
.header1{
    /* width: 598.55px;
    height: 53px; */
    color: #1A1A1F;
    font-size: 15px;
    margin: 0px 496.203px 0px 0px;
    padding: 0px 12px;
    display: flex;
    gap: 50px;
    align-items: center;
}
/* .header1 img{
    width: 38.1px;
    height: 35px;
} */
/* .gap-div{
    width: 99.17px;
    height: 54px;
} */
.gap-div a{
    /* width: 67.17px; */
    /* height: 54px; */
    color: #262626;
    font-size: 13px;
    /* margin: 1px 0px 0px 32px; */
    padding: 16px 10px;
    display: flex;
    justify-content: space-between;
}
.gaga span{
    width: 47.17px;
    height: 24px;
    /* margin: -3px 0px 0px; */
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gap{
    width: 2px;
    height: 24px;
    background-color: #000000;
    display: block;
    opacity: 1;
    transform: scaleY(1);
    transition: opacity, transform .8s ease-in-out;
    margin-left: -30px;
    /* display: flex; */
    /* justify-content: center; */
}
.gap::before{
    /* content: "|"; */
    width: 26px;
    height: 24px;
    color: black;
    margin: 0px 0px 0px 7px;
    padding: 0px 0px 0px 24px;
    
}
.logo{
    width: 137px;
    height: 54px;
    color: #262626;
    font-size: 13px;
    margin: 1px 0px 0px;
    padding: 16px 6px 16px 10px;
}
.logo img{
    width: 108px;
    height: 23px;
    margin: -3px 0px 0px;
}
.logo-text{
    padding-left: 16px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.header1 .icons ul{
    display: flex;
    gap: 70px;
    list-style: none;
    width: 816.97px;
    height:52px;
    font-size: 13px;
}
.icons{
    width: 816.97px;
    height:52px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 11px;
}
.icons ul a{
    width: 816.97px;
    height: 54px;
    color: #262626;
    font-size: 13px;
    margin: 1px 0px 0px 32px;
    padding: 16px 10px;
}
.icons ul a span{
    width: 47.17px;
    height: 24px;
    color: #262626;
    font-size: 18px;
    margin: -3px 0px 0px;
}
.icons ul li{
    margin-left: -30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons ul li button{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}
.icons ul li button span{
    font-weight: 2px;
    color: rgb(73, 71, 71);
}
.icons ul li button i{
    font-size: 8px;
    margin-top: 4px;
    margin-left: 2px;
}
.right{
    display: flex;
    width: 543.86px;
    height: 54px;
    color: #000000;
    font-size: 13px;
    margin-left: -99px;
    justify-content: space-between;
    align-items: center;
}
form{
    width: 90px;
    height: 38px;
}
form button{
    align-items: center;
    width: 77.77px;
    height: 45px;
    gap: 20px;
    font-size: 13px;
    margin: -3px 1px 1px;
    color: #000000;
    background-color: transparent;
    border: none;
}
form button input{
    width: 50px;
    border: none;
    background-color: transparent;
}
form button i{
    color: grey;
}
.header3{
    width: 361.25px;
    height: 53px;
    color: #1A1A1F;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
}
.Learn{
    width: 49.42px;
    height: 48px;
    color: #262626;
    font-size: 13px;
    margin: 1px 4px 0px;
    padding: 16px 8px 10px;
}
.support{
    width: 64.09px;
    height: 48px;
    color: #262626;
    font-size: 13px;
    margin: 1px 4px 0px;
    padding: 16px 8px 10px;
}
.sales{
    width: 95px;
    height: 48px;
    color: #262626;
    font-size: 13px;
    margin: 1px 4px 0px;
    padding: 16px 8px 10px;
}
.free{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signing{
    width: 57.14px;
    height: 31px;
    color: #262626;
    font-size: 13px;
    margin: 11px 10px 1px;
    padding: 4px 8px 10px;
    border: 1px solid #000000;
    border-radius: 3px;
}
.signing span{
    font-weight: lighter;
    font-size: 13px;
}
.top-lists{
    display: flex;
}
.top-lists a{
    font-size: small;
}
.top-lists button{
    width: 106.95px;
    background-color: #89C402;
    border: 1px solid black;
    border-radius: 4px;
    height: 32px;
    margin: 0px 6px;
    padding: 9px;
    font-size: 12px;
    text-wrap: nowrap;
    border: none;
}
.vid video{
    width: 100%;
    height: 628px;
    display: block;
    object-fit: cover;
}
.video-container{
    top: 140px;
    padding-left: 245px;
    padding-top: 65px;
    width: 1511.5px;
    height: 436px;
    position: absolute;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    width: 1344px;
    height: 388px;
}
.col{
    width: 1344px;
    height: 388px;
    font-size: 16px;
    padding: 0px 8px;
    color: #17253D;
}
.col-left{
    width: 1328px;
    height: 388px;
    font-size: 16px;
    color: #17253D;
}
.col-left{
    width: 656px;
    height:284px;
    color: #17253D;
    font-size: 16px;
}
.col-right{
    width: 656px;
    height: 0px;
}
.innovation{
    width: 656px;
    height: 16px;
    margin: 0px 0px 16px;
    font-size: 12px;
    color: #17253D;
}
.future h1{
    width: 656px;
    height: 56px;
    color: #0E1726;
    font-size: 48px;
}
.para{
    width: 656px;
    height: 96px;
    color: #17253D;
    font-size: 18px;
    margin: 16px 0px 0px;
    line-height: 30px;
}
.col-left .bottom{
    width: 656px;
    height: 52px;
    color: #17253D;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.bottom-sub{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.Asub-sub .bottom{
    width: 656px;
    height: 52px;
    color: #17253D;
    font-size: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
.get-start{
    width: 108.38px;
    height: 52px;
    color: #FFFFFF;
    font-size: 23px;
    background-color: #0078D4;
    padding: 12px 16px;
    border-radius: 8px;
}
.get-start span{
    width: 72.38px;
    height: 24px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 0px 0px 2px;
}
.try-azure1{
    width: 150.08px;
    height: 52px;
    color: #000000;
    font-size: 15px;
    background-color: #000000;
    background-color: #89C402;
    padding: 12px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}
.try-azure{
    width: 150.08px;
    height: 36px;
    color: #000000;
    font-size: 15px;
    background-color: #000000;
    background-color: #89C402;
    padding: 12px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    font-weight: bold;
}
.try-azure span{
    width: 114.08px;
    height: 24px;
    color: #000000;
    font-size: 15px;
    padding: 0px 0px 2px;
}
.sign select{
    width: 151.36px;
    height: 36px;
    padding: 8px;
    text-wrap: nowrap;
    display: flex;
}
.select h6{
    width: 115.36px;
    height: 19px;
    color: #FFFFFF;
    font-size: 14px;
}
.head{
    width: 1835px;
    height: 56px;
    color: #17253D;
    font-size: 16px;
    background-color: #FEFEFE;
}
.sectionA{
    width: 1835px;
    height: 54px;
    color: #17253D;
    font-size: 16px;
    background-color: #FEFEFE;
    margin-top: 572px;
    border-top: 1px solid grey;
}
.sectionA-sub{
    width: 1511.5px;
    height: 56px;
    color: #17253D;
    font-size: 16px;
    margin: 0px 161.75px;
    padding: 0px 91.75px;
    display: flex;
    justify-content: space-between;
}
.Asub-sub{
    width: 1328px;
    height: 53px;
    color: #000000;
    font-size: 16px;
    background-color: #FEFEFE;
    padding: 0px 0px 4px;
    display: flex;
    justify-content: space-between;
}
.sectionA ul{
    width: 1185.92px;
    height: 53px;
    color: #000000;
    background-color: #000000;
    font-size: 16px;
    background-color: #FEFEFE;
    display: flex;
    align-items: center;
    padding: 0px 0px 4px;
}
.sectionA ul li{
    color: #0067B8;
    font-size: 15px;
    list-style: none;
    font-weight: bold;
    margin-right: 20px;
}
.sectionB{
    width: 1835px;
    height: 740.34px;
}
.sectionB-sub{
    width: 1835px;
    height: 740.34px;
    color: #17253D;
    font-size: 16px;
    background-color: #F4FAFD;
    padding: 96px 0px;
    border-top: 1px solid grey;
}
.Bsub-sub{
    width: 1511.5px;
    height: 548.34px;
    margin: 0px 161.75px;
    padding: 0px 91.75px;
    color: #17253D;
    font-size: 16px;
}
.up{
    width: 1344px;
    height: 64px;
    font-size: 16px;
}
.up-sub{
    width:1328px;
    height: 64px;
}
.up-subsub{
    width: 475.75px;
    height: 64px;
    font-size: 16px;
}
.news{
    width: 475.75px;
    height: 16px;
    margin: 0px 0px 8px;
}
.news h6{
    letter-spacing: 1px;
}
.discover h2{
    width: 475.75px;
    height: 40px;
    color: #0E1726;
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: -.05rem;
    text-wrap: nowrap;
    font-weight: 550;
}
.down{
    width: 1336px;
    height: 436.34px;
    font-size: 16px;
}
.down-sub{
    width: 1320px;
    height: 436.34px;
    font-size: 16px;
}
.down-subsub{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.class1{
    width: 429.33px;
    height: 436.34px;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 22px;
    background-color: #FFFFFF;
}
.above{
    width: 429.33px;
    height: 185.34px;
}
.abv-sub{
    width: 429.33px;
    height: 185.34px;
    color: #17253D;
    font-size: 16px;
    padding: 8px 8px 0px;
}
.above img{
    width: 413.33px;
    height: 177.34px;
    border-radius: 18px;
}
.below{
    width: 429.33px;
    height: 251px;
    font-size: 16px;
    color: #17253D;
    padding: 24px;
}
.blv1{
    width: 381.33px;
    height: 120px;
    color: #17253D;
    font-size: 16px;
}
.blv1-sub1 h3{
    width: 213.53px;
    height: 28px;
    color: #0E1726;
    font-size: 19px;
    line-height: 40px;
    text-wrap: nowrap;
}
.blv1-sub2{
    width: 381.33px;
    height: 72px;
    color: #17253D;
    font-size: 16px;
    padding: 0px 24px 0px 0px;
}
.blv1-sub2 span{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.03rem;
}
.blv1-sub2-sub{
    width: 357.33px;
    height: 72px;
    color: #17253D;
    font-size: 16px;
    margin-top: 20px;
}
.blv2{
    width: 381.33px;
    height: 35px;
    color: #17253D;
    font-size: 16px;
    margin: 48px 0px 0px;
}
.blv2 a{
    width: 180.08px;
    height: 35px;
    color: #004275;
    font-size: 14px;
}
.blv2 span{
    width: 137.38px;height: 22px;
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
    font-weight: bold;
}
.blv2 button{
    background-color: #0078D4;
    color:#FFFFFF;
    font-size: 15px;
    width: 34.7px;
    height: 35px;
    padding: 8px;
    border: none;
    border-radius: 8px;
}
.blv2 button i{
    font-weight: 600;
}
.main{
    width: 1835px;
    height: 763px;
}
.main img{
    width: 1835px;
    height: 763px;
}
.image-container{
    margin-top: -765px;
    margin-left: 244px;
    width: 1511.5px;
    height: 763px;
}
.row{
    width: 1344px;
    height: 64px;
    font-size: 16px;
    color: #17253D;
}
.col{
    width: 1328px;
    height: 64px;
}
.col-left{
    width: 656px;
    height: 64px;
}
.col-left-sub{
    width: 656px;
    height: 64px;
}
.left-sub{
    width: 614.58px;
    height: 64px;
    margin-right: 10px;
}
.left-top{
    width: 614.58px;
    height: 16px;
    margin: 3px 0px 8px;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
}
.left-bottom h2{
    width: 614.58px;
    height: 40px;
    font-size: 32px;
    color: #0E1726;
    text-wrap: nowrap;
}
.col-right{
    width: 656px;
    height: 64px;
}
.row-section{
    width: 1336px;
    height: 667px;
    color: #17253D;
    font-size: 16px;
    padding: 0px 8px;
}
.row-sec-sub{
    width: 1336px;
    height: 667px;
}
.sec-subsub{
    width: 1320px;
    height: 600px;
}
.sec-up{
    width: 1320px;
    height: 40px;
    margin-top: 27px;
    margin-left: 8px;
}
.sec-up button{
    border-radius: 25px;
    border: none;
}
.sec-up button span{
    font-weight: bold;
    text-wrap: nowrap;
}
.sec-up .sol{
    width: 182.19px;
    height: 40px;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
    background-color: #005597;
    font-size: 16px;
    color: #FFFFFF;
}
.sol span{
    width: 134.19px;
    height: 23px;
}
.cloud{
    width: 166.17px;
    height: 40px;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
    color: #004275;
    background-color: #0055971A;
    font-size: 16px;
}
.cloud span{
    width:118.17px;
    height: 23px;
}
.trans{
    width: 195.02px;
    height: 40px;
    color: #004275;
    font-size: 16px;
    background-color: #004275;
    font-size: 16px;
    background-color: #0055971A;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
}
.trans span{
    width: 147.02px;
    height: 23px;
}
.dev{
    width: 178.34px;
    height: 40px;
    color: #004275;
    font-size: 16px;
    background-color: #0055971A;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
}
.dev span{
    width: 130.34px;
    height: 23px;
}
.ai{
    width: 63.41px;
    height: 40px;
    color: #004275;
    font-size: 16px;
    background-color: #0055971A;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
}
.ai span{
    width: 15.41px;
    height: 23px;
}
.sec-dwn{
    width: 1336px;
    height: 560px;
    padding: 0px 8px;
    font-size: 16px;
}
.subsub{
    width: 1320px;
    height: 492px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.subsub ul{
    width: 427.59px;
    height: 492px;
    min-height: 226px;
    overflow-y: auto;
    margin-left: -260px;
}
.subsub ul li{
    list-style: none;
    display: flex;
    justify-content: right;
}
.side-image{
    width: 656px;
    height: 492px;
    margin-left: -6px;
}
.side-image img{
    width: 656px;
    height: 492px;
    border-radius: 25px;
    margin-left: -6px;
}
.li1{
    width: 412.59px;
    height: 195px;
    color: #17253D;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.indicator{
    width: 2.5px;
    height: 195px;
    background-color: #0078D4;
    display: block;
    opacity: 1;
    transform: scaleY(1);
    transition: opacity, transform .8s ease-in-out;
    margin-left: -6px;
}
.ocr{
    width: 361.09px;
    height: 195px;
    border-bottom: 1px solid grey;
}
.button-grp{
    width: 361.09px;
    height: 60px;
}
.button-grp button{
    width: 361.09px;
    height: 60px;
    color: #0E1726;
    font-size: 16px;
    padding: 0px 0px 32px;
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: transparent;
    border: none;
}
.button-grp button h3{
    width: 18.06px;
    height: 28px;
}
.button-grp button i{
    font-size: small;
    font-weight: 600;
}
.accordian{
    width: 361.09px;
    height: 134px;
}
.portfolio{
    width: 361.09px;
    height: 48px;
}
.explore{
    width: 361.09px;
    height: 54px;
}
.explore a{
    width: 154.08px;
    height: 22px;
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
}
.li2{
    width: 412.59px;
    height: 93px;
    color: #17253D;
    font-size: 16px;
}
.li2-sub{
    width: 361.09px;
    height: 93px;
}
.li2-subsub{
    width:361.09px;
    height: 92px;
}
.li2-subsub button{
    width: 361.09px;
    height: 92px;
    padding: 32px 0px;
    color: #0E1726;
    font-size: 16px;
    text-wrap: nowrap;
    border: none;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    border-bottom: 1px solid grey;
}
.li2-subsub button h3{
    width: 312.52px;
    height: 28px;
    font-size: 19px;
    color: #0E1726;
}
.li2-subsub button i{
    font-size: small;
    font-weight: 600;
}
.li3{
    width: 412.59px;
    height: 93px;
}
.li3-sub{
    width: 361.09px;
    height: 93px;
}
.li3-subsub{
    width: 361.09px;
    height: 92px;
}
.li3-subsub button{
    width: 361.09px;
    height: 92px;
    padding: 32px 0px;
    font-size: 16px;
    color: #0E1726;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: 1px solid grey;
}
.li3-subsub button h3{
    width: 312.52px;
    height: 28px;
    font-size: 20px;
    color: #0E1726;
    display: flex;
    justify-content: left;
}
.li3-subsub button i{
    font-size: small;
    font-weight: 600;
}
.li4{
    width: 412.59px;
    height: 93px;
}
.li4-sub{
    width: 361.09px;
    height: 93px;
}
.li4-subsub{
    width: 361.09px;
    height: 92px;
}
.li4-subsub button{
    width: 361.09px;
    height: 92px;
    padding: 32px 0px;
    color: #0E1726;
    font-size: 16px;
    text-wrap: nowrap;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: 1px solid grey;
}
.li4-subsub button h3{
    width: 67.31px;
    height: 28px;
    font-size: 20px;
    color: #0E1726;
}
.li4-subsub button i{
    font-size: small;
    font-weight: 600;
}
.li5{
    width: 412.58px;
    height: 93px;
}
.li5-sub{
    width: 361.09px;
    height: 93px;
}
.li5-subsub{
    width: 361.09px;
    height: 92px;
}
.li5-subsub button{
    width: 361.09px;
    height: 92px;
    text-wrap: nowrap;
    padding: 32px 0px;
    color: #0E1726;
    font-size: 16px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: 1px solid grey;
}
.li5-subsub button h3{
    width: 176.98px;
    height: 28px;
    font-size: 20px;
    color: #0E1726;
}
.li5-subsub button i{
    font-size: small;
    font-weight: 600;
}
.abv-footer{
    width: 1835px;
    height: 549px;
}
.abv-footer-sub{
    width: 1835px;
    height: 549px;
}
.abv-footer-sub img{
    width: 1835px;
    height: 549px;
    background-size: cover;
    position: absolute;
}
.container{
    width: 1328px;
    height: 188px;
    color: #DCEEF8;
    font-size: 16px;
    margin-top: -393px;
    margin-left: 250px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.step1{
    width: 1344px;
    height: 48px;
    padding: 0px 8px;
    font-size: 16px;
    margin-left: -10px;   
}
.step1-sub{
    width: 1328px;
    height: 48px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.step1-sub h3{
    width: 297.31px;
    height: 48px;
    font-size: 34px;
    color: #0E1726;
    text-wrap: nowrap;
}
.step2{
    width:1336px;
    height: 259px;
}
.step2-sub{
    width: 1336px;
    height: 259px;
}
.step2-subsub{
    width: 1320px;
    height: 259px;
    color: #17253D;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}
.step2-subsub button{
    border: none;
    border-radius: 6px;
}
.card1{
    width: 429.33px;
    height: 259px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid rgb(190, 187, 187);
    background-color: #FFFFFF;
}
.card1-sub{
    width: 429.33px;
    height: 259px;
    padding: 24px;
    font-size: 16px;
    color: #17253D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card1-up{
    width: 379.33px;
    height: 96px;
    padding: 0px 24px 0px 0px;
    font-size: 16px;
    color: #17253D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card1-up1{
    width: 381.33px;
    height: 32px;
}
.card1-up1 h3{
    width: 268.7px;
    height: 32px;
    font-size: 20px;
    color: #0E1726;
    text-wrap: nowrap;
}
.card1-up2{
    width: 357.33px;
    height: 48px;
    font-size: 16px;
    color: #002948;
}
.card1-up2 span{
    width: 339px;
    height: 45px;
}
.card1-dwn{
    width: 381.33px;
    height: 35px;
    color: #17253D;
    font-size: 16px;
    margin: 48px 0px 0px;
}
.card1-dwn a{
    width: 145.58px;
    height: 35px;
    color: #004275;
    font-size: 14px;
}
.card1-dwn a button{
    width: 34.7px;
    height: 35px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;
    padding: 8px;
}
.card1-dwn a button i{
    width: 14.7px;
    height: 15px;
}
.card1-dwn a span{
    width: 102.88px;
    height: 22px;
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
    font-weight: 600;
}
.card2{
    width: 429.33px;
    height: 259px;
    font-size: 16px;
    color: #17253D;
    border-radius: 20px;
    border: 1px solid rgb(192, 187, 187);
    background-color: #FFFFFF;
}
.card2-sub{
    width: 429.33px;
    height: 259px;
    padding: 24px;
    font-size: 16px;
    color: #17253D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card2-up{
    width: 379.33px;
    height: 96px;
    padding: 0px 24px 0px 0px;
    font-size: 16px;
    color: #17253D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card2-up1 h3{
    width: 290.19px;
    height: 32px;
    font-size: 19.8px;
    color: #0E1726;
    text-wrap: nowrap;
}
.card2-up2{
    font-size: 15px;
    color: #002948;
    height: 48px;
}
.card2-dwn{
    width: 381.33px;
    height: 35px;
    color: #17253D;
    font-size: 16px;
    margin: 48px 0px 0px;
}
.card2-dwn a{
    color: #004275;
    font-size: 14px;
}
.card2-dwn a button{
    width: 34.7px;
    height: 35px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;
    padding: 8px;
}
.card2-dwn a button i{
    width: 14.7px;
    height: 15px;
}
.card2-dwn a span{
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
    font-weight: 600;
}
.card3{
    width: 429.33px;
    height: 259px;
    border-radius: 20px;
    border: 1px solid rgb(192, 187, 187);
    background-color: #FFFFFF;
}
.card3-sub{
    width: 429.33px;
    height: 259px;
    padding: 24px;
    font-size: 16px;
    color: #17253D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card3-up{
    width: 381.33px;
    height: 96px;
    padding: 0px 24px 0px 0px;
    font-size: 16px;
    color: #17253D;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.card3-up1 h3{
    font-size: 21px;
    color: #0E1726;
}
.card3-up2{
    font-size: 16px;
    color: #002948;
}
.card3-dwn{
    width: 381.33px;
    height: 35px;
    color: #17253D;
    font-size: 16px;
    margin: 48px 0px 0px;
}
.card3-dwn a{
    color: #004275;
    font-size: 14px;
}
.card3-dwn a button{
    width: 34.7px;
    height: 35px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;
    padding: 8px;
}
.card3-dwn a button i{
    width: 14.7px;
    height: 15px;
}
.card3-dwn a span{
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
    font-weight: 600;
}
.view{
    margin-top: 30px;
}
.view button{
    width: 34.7px;
    height: 35px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: lighter;
}
.view span{
    font-size: small;
    font-weight: bold;
    color: #004275;
}
.section-master{
    width: 1835px;
    height: 1039px;
}
.section-master-sub{
    width: 1835px;
    height: 1039px;
    padding: 96px 0px;
    font-size: 16px;
    color: #17253D;
    background-color: #FAF4FD;
    background-image: url(images/product-background_desktop_homepage.avif);
}
.master-sub{
    width: 1600px;
    height: 1039px;
}
.master-sub img{
    width: 1600px;
    height: 1129px;
}
.master-subsub{
    width: 1511.5px;
    height: 847px;
    color: #17253D;
    margin: 0px 161.75px;
    padding: 0px 91.75px;
    font-size: 16px;
}
.master-up{
    width: 1344px;
    height: 64px;
    font-size: 16px;
}
.master-up-sub{
    width: 1328px;
    height: 64px;
    color: #17253D;
    font-size: 16px;
}
.master-up-subsub{
    width: 559.69px;
    height: 64px;
    font-size: 16px;
}
.master1{
    width: 559.69px;
    height: 16px;
    margin: 0px 0px 8px;
    font-size: 12px;
}
.master2 h2{
    width: 559.69px;
    height: 40px;
    font-size: 32px;
    text-wrap: nowrap;
}
.master-dwn{
    width: 1336px;
    height: 735px;
}
.master-dwn-sub{
    width: 1336px;
    height: 735px;
}
.master-dwn-subsub{
    width: 1320px;
    height: 652px;
}
.masterA{
    width: 1320px;
    height: 40px;
    padding-top: 45px;
}
.masterA-sub button{
    height: 40px;
    color: #004275;
    font-size: 16px;
    background-color: #0055971A;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
    border-radius: 25px;
    text-wrap: nowrap;
    border: none;
    font-weight: bold;
    font-weight: bold;
}
.masterA-sub .fea{
    width: 112.08px;
    height: 40px;
    color: #FFFFFF;
    font-size: 16px;
    background-color: #005597;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
    border-radius: 25px;
    text-wrap: nowrap;
    border: none;
    font-weight: bold;
}
.masterB{
    width: 1336px;
    height: 612px;
    margin: 86px 0px;
    font-size: 16px;
}
.masterB-sub{
    display: flex;
    justify-content: space-between;
    width: 1320px;
}
.masterB-left{
    width: 319px;
    position: relative;
    display: inline-block;
    position: relative;
    display: inline-block; 
}
.masterB-left::before{
    content:"";
    position: absolute;
    width: 319px;
    height: 568px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.1) 80%);
    border-radius: 25px;
}
.masterB-left img{
    border-radius: 25px;
    height: 568px;
    width: 319px;
}
.contB{
    width: 318px;
    height: 252px;
    color: #DCEEF8;
    font-size: 16px;
    padding: 24px;
    position: absolute;
    top: 54%;
}
.contB-sub{
    width: 270px;
    height: 204px;
}
.contB-up{
    width: 246.67px;
    height: 48px;
    color: #DCEEF8;
    font-size:16px;
}
.contB-up h3{
    width: 246.67px;
    height: 40px;
    color: #F4FAFD;
    font-size: 31px;
    text-wrap: nowrap;
}
.contB-dwn{
    width: 270px;
    height: 140px;
    color: #DCEEF8;
    font-size: 16px;
}
.slms span{
    width: 270px;
    height: 72px;color: #DCEEF8;
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
}
.expro{
    width: 270px;
    height: 52px;
    color: #DCEEF8;
    font-size: 16px;
    margin-top: 50px;
}
.expro a{
    width: 165.2px;
    height: 52px;
    color: #0E1726;
    font-size: 20px;
    background-color: #B3DAF0;
    padding: 12px 16px;
    border-radius: 5px;
}
.expro a span{
    width: 129.2px;
    height: 24px;
    font-size: 15px;
    padding: 0px 0px 2px;
    font-weight: bold;
}
.masterB-right{
    color: #17253D;
}
.masterB-right-sub{
    color: #17253D;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.zo1{
    width: 318px;
    height: 276px;
    color: 16px;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border:1px solid rgb(202, 214, 214);
    margin-left: 16px;
    margin-bottom: 16px;
}
.zo1-sub{
    width: 316px;
    height: 274px;
    font-size: 16px;
}
.zo1-up{
    width: 268px;
    height: 156px;
    color: #17253D;
    font-size: 16px;
}
.q1{
    width: 48px;
    height: 48px;
    color: #17253D;
    font-size: 16px;
    background-color: #FEFEFE;
    border: 1px solid rgb(241, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.q1 img{
    width: 24px;
    height: 24px;
}
.q2{
    width: 268px;
    height: 92px;
    color: #17253D;
    font-size: 16px;
    margin-top: 16px;
}
.y1 span{
    height: 28px;
    color: #002948;
    font-size: 20px;
    font-weight: bold;
}
.y2 p{
    color: #17253D;
    font-size: 16px;
    margin-top: 16px;
}
.zo1-dwn{
    width: 268px;
    height: 22px;
    color: #17253D;
    font-size: 16px;
    margin: 48px 0px 0px;
}
.zo1-dwn span{
    width: 116.78px;
    height: 22px;
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
    text-decoration: underline;
    font-weight: bold;
}
.seeall span{
    font-size: small;
    font-weight: bold;
    color: #004275;
}
.seeall{
    margin-top: 12px;
}
.seeall button{
    width: 34.7px;
    height: 35px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: lighter;
}
.leader{
    width: 1835px;
    height: 682.25px;
    color: #17253D;
    font-size: 16px;
    background-color: #F4FAFD;
    padding: 72px 0px;
}
.leader-sub{
    width: 1511.5px;
    height: 538.25px;
    color: #17253D;
    font-size: 16px;
    margin: 0px 161.75px;
    padding: 0px 91.75px;
}
.lead{
    width: 1336px;
    height: 506.25px;
    color: #17253D;
    font-size: 16px;
    padding: 30px 8px;
    margin-left: -8px;
}
.lead-sub{
    width: 1320px;
    height: 506.25px;
    color: #17253D;
    font-size: 16px;
    background-color: #FEFEFE;
    display: flex;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 25px;
}
.lead-left{
    width: 667px;
    height: 504.25px;
    color: #17253D;
    font-size: 16px;
    padding: 24px 72px 24px 24px;
    margin-left: -8px;
}
.lead-left-sub{
    width: 571px;
    height: 200px;
    color: #17253D;
    font-size: 16px;
    margin-top: 128px;
}
.ll-up{
    width: 571px;
    height: 140px;
    color: #17253D;
    font-size: 16px;
}
.ll-up1 p{
    width: 571px;
    height: 72px;
    color: #17253D;
    font-size: 15px;
    line-height: 25px;
}
.ll-up2{
    width: 571px;
    height: 52px;
    color: #17253D;
    font-size: 16px;
    display: flex;
    margin-top: 18px;
}
.ll-up2 a{
    width: 127.59px;
    height: 52px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;
    padding: 12px 16px;
    border-radius: 8px;
}
.ll-up2 a span{
    width: 91.59px;
    height: 24px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 0px 0px 2px;
    font-weight: 500;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ll-dwn h3{
    width: 562px;
    height: 40px;
    color: #0E1726;
    font-size: 29px;
    text-wrap: nowrap;
    margin-top: 28px;
}
.lead-right{
    width: 667px;
    height: 504.25px;
    color: #17253D;
    font-size:16px;
    padding: 8px 16px 8px 0px;
}
.lead-right img{
    width: 651px;
    height: 488.25px;
    border-radius: 25px;
}
.resources{
    width: 1835px;
    height: 176px;
    color: #17253D;
    font-size: 16px;
    background-color: #F4FAFD;
}
.resources-sub{
    width: 1511.5px;
    height: 176px;
    color: #17253D;
    font-size: 16px;
    margin: 0px 161.75px;
    padding: 0px 91.75px;
}
.resources-subsub{
    width: 1344px;
    height: 176px;
    color: #17253D;
    font-size: 16px;
    padding: 0px 8px;
    text-align: center;
}
.res{
    width: 774.66px;
    height: 144px;
    color: #17253D;font-size: 16px;
    margin: 0px 276.672px 32px;
    padding: 72px 0px 0px;
}
.res-up{
    width: 774.66px;
    height: 16px;
    color: #17253D;
    font-size: 12px;
    margin: 0px 0px 8px;
}
.res-dwn h2{
    width: 774.66px;
    height: 48px;
    color: #0E1726;
    font-size: 36px;
}
.optimize{
    width: 1835px;
    height: 825.86px;
    color: #17253D;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/resources-background_desktop@2x.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.opti-up{
    width: 1336px;
    height: 80px;
    color: #17253D;
    font-size: 16px;
    padding: 8px 0px 8px 8px;
    display: flex;
}
.it{
    width: 220.33px;
    height: 64px;
    color: #000000;
    font-size: 16px;
    background-color: #FEFEFE;
    padding: 16px 24px 24px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border: 1px solid rgb(221, 218, 218);
}
.it span{
    width: 172.33px;
    height: 24px;
    font-size: 16px;
}
.dvl{
    width: 220.33px;
    height: 64px;
    color: #505050;
    font-size: 16px;
    background-color: #FEFEFE;
    padding: 16px 24px 24px;
    border: 1px solid rgb(221, 218, 218);
}
.dvl span{
    width: 172.33px;
    height: 24px;
    color: #0E1726;
    font-size: 16px;
}
.anal{
    width: 220.33px;
    height: 64px;
    color: #505050;
    font-size: 16px;
    background-color: #FEFEFE;
    padding: 16px 24px 24px;
    border: 1px solid rgb(221, 218, 218);
}
.anal span{
    width: 172.33px;
    height: 24px;
    color: #0E1726;
    font-size: 16px;
}
.busi{
    width: 220.33px;
    height: 64px;
    color: #505050;
    font-size: 16px;
    background-color: #FEFEFE;
    padding: 16px 24px 24px;
    border: 1px solid rgb(221, 218, 218);
}
.busi span{
    width: 172.33px;
    height: 24px;
    color:#0E1726;
}
.str{
    width: 220.33px;
    height: 64px;
    color: #505050;
    font-size: 16px;
    background-color: #FEFEFE;
    padding: 16px 24px 24px;
    border: 1px solid rgb(221, 218, 218);
}
.str span{
    width: 172.33px;
    height: 24px;
    font-size: 16px;
}
.std{
    width: 221.33px;
    height: 64px;
    color: #505050;
    font-size: 16px;
    background-color: #FEFEFE;
    padding: 16px 24px 24px;
    border: 1px solid rgb(221, 218, 218);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.std span{
    width: 173.33px;
    height: 24px;
    color: #0E1726;
    font-size: 16px;
}
.opti-dwn{
    width: 1336px;
    height: 745.86px;
    color: #17253D;
    font-size: 16px;
    padding: 32px 0px 72px;
}
.opti-dwn-sub{
    width: 1336px;height: 641.86px;
    color: #17253D;
    font-size: 16px;
}
.od1{
    width: 779.33px;
    height: 87px;
    color: #17253D;
    font-size: 16px;
    margin: 0px 278.344px 0px 278.328px;
}
.od1-up{
    width: 688.48px;
    height: 36px;color: #17253D;
    color: #17253D;
    font-size: 16px;
}
.od1-up span{
    width: 688.48px;
    height: 32px;
    color: #0E1726;
    font-size: 23px;
    text-wrap: nowrap;
    font-weight: bold;
}
.od1-dwn{
    text-align: center;
}
.od1-dwn a{
    width: 204.52px;
    height: 35px;
    color: #004275;
    font-size: 14px;
}
.od1-dwn a button{
    width: 34.7px;
    height: 35px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: lighter;
}
.od1-dwn a button i{
    width: 14.7px;
    height: 15px;
}
.od1-dwn a span{
    width: 161.81px;
    height: 22px;
    font-size: 14px;
    padding: 0px 0px 2px;
}
.od2{
    width: 890.66px;
    height: 522.86px;
    color: #17253D;
    font-size: 16px;
    background-color: #FFFFFF1A;
    margin: 32px 222.672px 0px;
    padding: 24px;
}
.od2 img{
    width: 840.66px;
    height: 472.86px;
    border-radius: 8px;
}
.global-infra-theme{
    width:1835px;
    height: 412px;
}
.global{
    width: 1835px;
    height: 412px;
}
.global img{
    width: 1835px;
    height: 412px;
    background-size: cover;
    position: absolute;
}
.global-container{
    width: 1328px;
    height: 188px;
    color: #DCEEF8;
    font-size: 166px;
    margin-top: -310px;
    margin-left: 280px;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
}
.global-container-sub{
    width: 760.91px;
    height: 188px;
    color: #DCEEF8;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.gl-head span{
    width: 760.91px;
    height: 56px;
    color: #F4FAFD;
    font-size: 48px;
    font-weight: bold;
}
.beyond p{
    width: 760.91px;
    height: 32px;
    color: #DCEEF8;
    font-size: 18px;
    margin: 16px 0px 0px;
}
.button-grp{
    width: 760.91px;
    height: 52px;
    color: #DCEEF8;
    font-size: 16px;
}
.button-grp a{
    width: 150.91px;
    height: 52px;
    color: 15px;
    background-color: #B3DAF0;
    padding: 12px 16px;
    border-radius: 8px;
    line-height: 60px;
    font-size: 23px;
}
.button-grp a span{
    width: 116.75px;
    height: 19px;
    color: #0E1726;
    font-size: 15px;
    padding: 0px 0px 2px;
    font-weight: 600;
}
.customer-stories{
    width: 1835px;
    height: 1022.44px;
    color: #17253D;
    font-size: 16px;
    background-color: #F4FAFD;
    padding: 72px 0px;
}
.customer-stories-sub{
    width: 1511.5px;
    height: 878.44px;
    color: #17253D;
    font-size: 16px;
    margin: 0px 161.75px;
    padding: 0px 91.75px;
}
.cs-up{
    width: 1344px;
    height: 64px;
    font-size: 16px;
    /* padding: 0px 8px; */
}
.cs-up-sub{
    width: 1328px;
    height: 64px;
    color: #17253D;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.cs-up-left{
    width: 656px;
    height: 64px;
    color: #17253D;
    font-size: 16px;
}
.cs-up-left-sub{
    width: 594.3px;
    height: 64px;
    color: #17253D;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cs-up-l1 span{
    width: 594.3px;
    height: 16px;
    color: #17253D;
    font-size: 12px;
    margin: 0px 0px 8px;
}
.cs-up-l2 h2{
    width: 594.3px;
    height: 40px;
    color: #0E1726;
    font-size: 30px;
    text-wrap: nowrap;
}
.cs-up-right{
    width: 656px;
    height: 64px;
    color: #17253D;
    font-size: 16px;
}
.cs-dwn{
    width: 1336px;
    height: 782.44px;
    color: #17253D;
    font-size: 16px;
    padding: 0px -8px;
}
.cs-dwn1{
    width: 1320px;
    height: 715.44px;
    color: #17253D;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cs-dwn1-up{
    width: 1314px;
    height: 551.44px;
    color: #17253D;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(194, 189, 189);
    border-radius: 24px;
    margin-top: 38px;
    background-color: #FFFFFF;
    margin-left: 3px;
}
.cs-left{
    width: 657px;
    height: 551.44px;
    color: #17253D;
    font-size: 16px;
    padding: 24px 72px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cs-left-up{
    width: 561px;
    height: 189px;
    color: #17253D;
    font-size: 16px;
}
.cs-left-up1{
    width: 561px;
    height: 77px;
    color: #17253D;
    font-size: 16px;
}
.cs-left-up1 img{
    width: 174px;
    height: 75px;
    border: 1px solid grey;
    border-radius: 8px;
}
.cs-left-up2{
    margin-top: 20px;;
}
.cs-left-up2 span{
    width: 561px;
    height: 96px;
    color: #17253D;
    font-size: 20px;
    font-weight: 580;
    line-height: 32px;
}
.cs-left-dwn{
    width: 561px;
    /* height: 282.44px; */
    height: 142px;
    color: #17253D;
    font-size: 16px;
    margin-top: 32px;
}
.cs-left-dwn1{
    width: 561px;
    height: 58px;
    color: #0E1726;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.double{
    width: 561px;
    height: 26px;
    color: #0E1726;
    font-size: 16px;
}
.double ul{
    width: 347.03px;
    height: 26px;
    color: #0E1726;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.u{
    width: 117.39px;
    height: 26px;
    color: #0E1726;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.umbrella{
    width: 20px;
    height: 20px;
    color: #0E1726;
    font-size: 20px;
}
.umbrella img{
    width: 20px;
    height: 20px;
}
.umbr{
    width: 89.39px;
    height: 20px;
    color: #0E1726;
    font-size: 14px;
    text-wrap: nowrap;
}
.umbr a{
    width: 89.39px;
    height: 19px;
    color: #0067B8;
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
}
.f{
    width: 213.64px;
    height: 26px;
    color: #0E1726;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.flower{
    width: 20px;
    height: 20px;
    color: #0E1726;
    font-size: 20px;
}
.flower img{
    width: 20px;
    height: 20px;
}
.flo{
    width: 185.64px;
    height: 20px;
    color: #0E1726;
    font-size: 14px;
    text-wrap: nowrap;
}
.flo a{
    width: 185.64px;
    height: 19px;
    color: #0067B8;
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
}
.cs-left-dwn2{
    width: 561px;
    height: 84px;
    color: #17253D;
    font-size: 16px;
}
.cs-left-dwn2-sub{
    width: 561px;
    height: 52px;
    color: #17253D;
    font-size: 16px;
    margin: 32px 0px 0px;
    display: flex;
    text-wrap: nowrap;
}
.cs-left-dwn2-sub a{
    width: 106.02px;
    height: 52px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;padding: 12px 16px;
    border-radius: 8px;
    font-weight: 500;
}
.cs-left-dwn2-sub a span{
    width: 70.02px;
    height: 24px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 0px 0px 2px;
} 
.cs-right{
    width: 657px;
    height: 551.44px;
    color: #17253D;
    font-size: 16px;
    padding: 8px 8px 8px 0px;
}
.cs-right img{
    width: 649px;
    height: 535.44px;
    border-radius: 18px;
}
.cs-dwn1-dwn{
    width: 1320px;
    height: 126.28px;
    color: #17253D;
    font-size: 16px;
}
.cs-dwn1-dwn ol{
    display: flex;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
ol li{
    background-color: #FFFFFF;
    width: 200px;
    height: 126.28px;
    color: #0067B8;
    font-size: 16px;
    padding: 16px;
}
ol li a{
    width: 168px;
    height: 90.28px;
    color: #0067B8;
    font-size: 16px;
    padding: 16px;
}
ol li a img{
    width: 136px;
    height: 58.28px;
}
.cs-dwn2 span{
    font-size: small;
    font-weight: bold;
    color: #004275;
}
.cs-dwn2 button{
    width: 34.7px;
    height: 35px;
    color: #dad4d4;
    font-size: 12px;
    background-color: #0078D4;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: lighter;
}
footer{
    width: 1835px;
    height: 658.19px;
    color: #1A1A1F;
    font-size: 12px;
    background-color: #F4F5F6;
    padding: 48px 0px 36px;
    /* margin-top: 5540px; */
}
.footer-sub{
    width: 1600px;
    height: 48px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 117.5px;
    padding: 0px 18px;
    display: flex;
    align-items: center;
}
.footer-sub .azuzu{
    width: 211.59px;
    height: 48px;
    color: #4C4C51;
    font-size: 12px;
    background-color: #EAEBEC;
    padding: 12px;
    display: flex;
    align-items: center;
}
.footer-sub  a img{
    width: 24px;
    height: 24px;
}
.footer-sub a span{
    width: 151.59px;
    height: 18.19px;
    color: #4C4C51;
    font-size: 13px;
    margin: 5px 0px 0px 12px;
    text-wrap: nowrap;
    font-weight: 600;
}
.footer-sub ul{
    display: flex;
    width: 168px;
    height: 30.5px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 9px 0px 0px 36px;
    display: flex;
    justify-content: space-between;
}
.footer-sub ul li{
    list-style: none;
}
.azu{
    width: 24px;
    height: 24.53px;
}
.insta{
    width: 24px;
    height: 25px;
}
.linkedin{
    width: 24px;
    height: 25px;
}
.foot-sub1{
    width: 240.66px;
    height: 338.19px;
    color: #1A1A1F;
    font-size: 12px;
}
.foot-sub1 h3{
    font-family: inherit;
    width: 240.66px;
    height: 18.19px;
    color: #1A1A1F;
    font-size: 12px;
    margin-top: 3px;
}
.foot-sub1 ul{
    width: 240px;
    height: 268px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 4.5px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot-sub1 ul li{
    list-style: none;
    margin-top: 12px;
}
.foot-sub1 ul li a{
    width: 240.66px;
    height: 28px;
    color: #1A1A1F;
    font-size: 11px;
    padding: 2px 0px;
    list-style: none;
}
.foot-sub2{
    width: 240.67px;
    height: 338.19px;
    color: #1A1A1F;
    font-size: 12px;
    
}
.foot-sub2 h3{
    width: 240.67px;
    height: 18.19px;
    color: #1A1A1F;
    font-size: 12px;
    margin-top: 3px;
}
.foot-sub2 ul{
    width: 240.67px;
    height: 228px;
    color: #1A1A1F;
    font-size: 11px;
    margin: 4.5px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot-sub2 ul li{
    list-style: none;
    margin-top: 12px;
}
.foot-sub2 ul li a{
    width: 240.67px;
    height: 28px;
    color: #1A1A1F;
    font-size: 11px;
    padding: 2px 0px;
    list-style: none;
}
.foot-sub3{
    width: 240.67px;
    height: 338.19px;
    color: #1A1A1F;
    font-size: 12px;
}
.foot-sub3 h3{
    width: 240.67px;
    height: 18.19px;
    color: #1A1A1F;
    font-size: 12px;
    margin-top: 3px;
}
.foot-sub3 ul{
    width: 240.67px;
    height: 188px;
    color: #1A1A1F;
    font-size: 11px;
    margin: 4.5px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot-sub3 ul li{
    list-style: none;
    margin-top: 12px;
}
.foot-sub3 ul li a{
    width: 240.67px;
    height: 28px;
    color: #1A1A1F;
    font-size: 11px;
    padding: 2px 0px;
    list-style: none;
}
.foot-sub4{
    width: 240.66px;
    height: 338.19px;
    color: #1A1A1F;
    font-size: 12px;
}
.foot-sub4 h3{
    width: 240.66px;
    height: 18.19px;
    color: #1A1A1F;
    font-size: 12px;
    margin-top: 3px;
}
.foot-sub4 ul{
    width: 240.66px;
    height: 108px;
    color: #1A1A1F;
    font-size: 11px;
    margin: 4.5px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot-sub4 ul li{
    list-style: none;
    margin-top: 12px;
}
.foot-sub4 ul li a{
    width: 240.66px;
    height: 28px;
    color: #1A1A1F;
    font-size: 11px;
    padding: 2px 0px;
    list-style: none;
}
.foot-sub5{
    width: 240.66px;
    height: 338.19px;
    color: #1A1A1F;
    font-size: 12px;
}
.foot-sub5 h3{
    width: 240.66px;
    height: 18.19px;
    color: #1A1A1F;
    font-size: 12px;
    margin-top: 3px;
}
.foot-sub5 ul{
    width: 240px;
    height: 308px;
    color: #1A1A1F;
    font-size: 11px;
    margin: 4.5px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot-sub5 ul li{
    list-style: none;
    margin-top: 12px;
}
.foot-sub5 ul li a{
    width: 240.67px;
    height: 28px;
    color: #1A1A1F;
    font-size: 11px;
    padding: 2px 0px;
    list-style: none;
}
.foot-sub6{
    width: 240.67px;
    height: 338.19px;
    color: #1A1A1F;
    font-size: 12px;
}
.foot-sub6 h3{
    width: 240.67px;
    height: 18.19px;
    color: #1A1A1F;
    font-size: 12px;
    margin-top: 3px;
}
.foot-sub6 ul{
    width: 240.67px;
    height: 308px;
    color: #1A1A1F;
    font-size: 11px;
    margin: 4.5px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot-sub6 ul li{
    list-style: none;
    margin-top: 12px;
}
.foot-sub6 ul li a{
    width: 240.66px;
    height: 28px;
    color: #1A1A1F;
    font-size: 11px;
    padding: 2px 0px;
    list-style: none;
}
.foot{
    width: 1600px;
    height: 338.19px;
    color: #1A1A1F;
    font-size: 11px;
    margin: 36px 117.5px 0px;
    padding: 0px 18px;
    display: flex;
    justify-content: space-between;
}
.foot-end{
    width: 1600px;
    height: 116px;
    color: #1A1A1A;
    font-size: 12px;
    margin: 36px 117.5px 0px;
    padding: 0px 18px;
    display:flex;
}
.foot-end-left{
    width: 523.41px;
    height: 64px;
    color: #1A1A1F;
    font-size: 12px;
    display: flex;
}
.lang{
    width: 188px;
    height: 64px;
    color: #1A1A1F;
    font-size: 12px;
}
label{
    width: 188px;
    height: 24px;
    color: #1A1A1F;
    font-size: 16px;
    margin: 0px 0px 4px;
}
select{
    width: 188px;
    height: 36px;
    color: #1A1A1F;
    font-size: 14px;
    background-color: #FFFFFF;
    padding: 5px;
}
.pri-choice{
    width: 145.95px;
    height: 24px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 24px 0px 0px;
    text-wrap: nowrap;
}
.pri-choice img{
    width: 34.28px;
    height: 16px;
    color: #1A1A1F;
    font-size: 12px;
}
.pri-choice span{
    width: 99.67px;
    height: 24px;
    color: #1A1A1F;
    font-size: 12px;
    text-wrap: nowrap;
}
.foot-end-right{
    width: 1016.59px;
    height: 80px;
    margin-top: 36px;
}
.foot-end-right ul{
    width: 1016.59px;
    height: 80px;
    color: #1A1A1F;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items:end;
    margin: 0;
    padding: 0;
}
.foot-end-right ul li{
    list-style: none;
    text-wrap: nowrap;
}
.hp{
    width: 137.13px;
    height: 40px;
}
.hp a{
    width: 121.13px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
}
.di{
    width: 123.94px;
    height: 40px;
}
.di a{
    width: 107.94px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
}
.acc{
    width: 73.61px;
    height: 40px;
}
.acc a{
    width: 57.61px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
}
.pc{
    width: 102.77px;
    height: 40px;
}
.pc a{
    width: 86.77px;
    height: 28px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
}
.dp{
    width: 126.11px;
    height: 40px;
}
.dp a{
    width: 110.11px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
}
.tra{
    width: 72.78px;
    height: 40px;
}
.tra a{
    width: 56.78px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
}
.tou{
    width: 77.92px;
    height: 40px;
}
.tou a{
    width: 61.92px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
}
.pd{
    width: 143px;
    height: 40px;
}
.pd a{
    width: 127.83px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
}
.cu{
    width: 67.41px;
    height: 40px;
}
.cu a{
    width: 51.41px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
}
.fd{
    width: 62.31px;
    height: 40px;
}
.fd a{
    width: 46.31px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
    padding: 2px 0px;
}
.sit{
    width: 55.77px;
    height: 40px;
    display: block;
}
.sit a{
    width: 39.77px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 12px 16px;
    padding: 2px 0px;
    display: block;
}
.copy{
    width: 88.7px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 0px 0px 12px;
    padding: 2px 0px;
    display: block;
}
.copy span{
    width: 88.7px;
    height: 16px;
    color: #1A1A1F;
    font-size: 12px;
    display: block;
}
.foot-end-dwn{
    width: 150.67px;
    height: 50px;
    color: #17253D;
    font-size: 16px;
    /* margin-top: -14px; */
    /* margin-left: 1668px; */
    position: fixed;
    bottom: o;
    right: 1rem;
    left: 0;
}
.foot-end-dwn button{
    width: 150.67px;
    height: 50px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0067B8;
    /* padding: 12px 16px 12px 33.5625px; */
    text-wrap: nowrap;
    border-radius: 8px;
    border: none;
}
.foot-end-dwn button i{
    width: 14.7px;
    height: 15px;
    /* margin: -7.5px 0px 0px; */
}
button:hover{
    background-color: #016ec2;
}
@media screen and (max-width:1470px){

}