*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    width: 1835px;
    height: 54px;
    color: #17253D;
    font-size: 16px;
    background-color:#FFFFFF;
    justify-content: center;
}
.header{
    display: flex;
    width: 1600px;
    height: 54px;
    justify-content: center;
    color: #1A1A1F;
    background-color: #FFFFFF;
    font-size: 15px;
    margin: auto;
}
.header2{
    display: flex;
}
.header1{
    width: 598.55px;
    height: 53px;
    color: #1A1A1F;
    font-size: 15px;
    margin: 0px 496.203px 0px 0px;
    padding: 0px 12px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.header1 img{
    width: 38.1px;
    height: 35px;
}
.logo{
    width: 92.78px;
    height: 26.25px;
    /* font-size: 15px; */
    display: flex;
    align-items: center;
    margin-left: -25px;
    margin-top: 2px;
    /* padding: 10px; */
}
.logo-text{
    padding-left: 16px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.header1 .icons ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.icons{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 11px;
}
.icons ul li{
    margin-left: -30px;
    width: 50px;
}
.icons ul li button{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}
.icons ul li button span{
    font-weight: 2px;
    color: rgb(73, 71, 71);
}
.icons ul li button i{
    font-size: 8px;
    margin-top: 4px;
    margin-left: 2px;
}
.right{
    display: flex;
}
.header2{
    display: flex;
    justify-content: space-between;
}
.header2 button{
    display: flex;
    align-items: center;
    width: 120px;
    height: 32px;
    gap: 20px;
    font-size: 13px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: -30px;
}
.header2 button input{
    width: 50px;
    border: none;
    background-color: transparent;
}
.header2 button i{
    color: grey;
}
.header2 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header3{
    width: 361.25px;
    height: 53px;
    color: #1A1A1F;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
}
.Learn{
    width: 45.02px;
    height: 53px;
    color: #1A1A1F;
    font-size: 13px;
    padding: 20px 8px;
}
.support{
    width: 58.73px;
    height: 53px;
    color: #1A1A1F;
    font-size: 13px;
    padding: 20px 8px;
}
.sales{
    width: 86.77px;
    height: 53px;
    color: #1A1A1F;
    font-size: 13px;
    padding: 20px 8px;
}
.signing{
    width: 51.78px;
    height: 53px;
    color: #1A1A1F;
    font-size: 13px;
    padding: 20px 8px;
}
.top-lists a{
    font-size: small;
}
.top-lists button{
    width: 106.95px;
    background-color: #89C402;
    border: 1px solid black;
    border-radius: 4px;
    height: 32px;
    margin: 0px 6px;
    padding: 9px;
    font-size: 12px;
    text-wrap: nowrap;
}
.vid video{
    width: 100%;
    height: 628px;
    display: block;
    object-fit: cover;
}
.video-container{
    top: 140px;
    padding-left: 245px;
    padding-top: 65px;
    width: 1511.5px;
    height: 436px;
    position: absolute;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    width: 1344px;
    height: 388px;
}
.col{
    width: 1344px;
    height: 388px;
    font-size: 16px;
    padding: 0px 8px;
    color: #17253D;
}
.col-left{
    width: 1328px;
    height: 388px;
    font-size: 16px;
    color: #17253D;
}
.col-left{
    width: 656px;
    height:284px;
    color: #17253D;
    font-size: 16px;
}
.innovation{
    width: 656px;
    height: 16px;
    margin: 0px 0px 16px;
    font-size: 12px;
    color: #17253D;
}
.future h1{
    width: 656px;
    height: 56px;
    color: #0E1726;
    font-size: 48px;
}
.para{
    width: 656px;
    height: 96px;
    color: #17253D;
    font-size: 20px;
    margin: 16px 0px 0px;
    line-height: 30px;
}
.bottom{
    width: 656px;
    height: 52px;
    color: #17253D;
    font-size: 16px;
}
.get-start{
    width: 108.38px;
    height: 52px;
    color: #FFFFFF;
    font-size: 23px;
    background-color: #0078D4;
    padding: 12px 16px;
    border-radius: 8px;
}
.get-start span{
    width: 72.38px;
    height: 24px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 0px 0px 2px;
}
.try-azure{
    width: 150.08px;
    height: 52px;
    color: #000000;
    font-size: 15px;
    background-color: #000000;
    font-size: 24px;
    background-color: #89C402;
    padding: 12px 16px;
    border-radius: 8px;
}
.try-azure span{
    width: 114.08px;
    height: 24px;
    color: #000000;
    font-size: 15px;
    padding: 0px 0px 2px;
}
.sign select{
    width: 151.36px;
    height: 36px;
    padding: 8px;
    text-wrap: nowrap;
    display: flex;
}
.select h6{
    width: 115.36px;
    height: 19px;
    color: #FFFFFF;
    font-size: 14px;
}
section{
    width: 1835px;
    height: 56px;
    color: #17253D;
    font-size: 16px;
    background-color: #FEFEFE;
}
.sectionA{
    width: 1835px;
    height: 54px;
    color: #17253D;
    font-size: 16px;
    background-color: #FEFEFE;
    margin-top: 572px;
    border-top: 1px solid grey;
}
.sectionA-sub{
    width: 1511.5px;
    height: 56px;
    color: #17253D;
    font-size: 16px;
    margin: 0px 161.75px;
    padding: 0px 91.75px;
}
.Asub-sub{
    width: 1185.92px;
    height: 56px;
    color: #000000;
    font-size: 16px;
    background-color: #FEFEFE;
    padding: 0px 0px 4px;
    display: flex;
    justify-content: space-between;
}
.sectionA ul{
    width: 1185.92px;
    height: 53px;
    color: #000000;
    background-color: #000000;
    font-size: 16px;
    background-color: #FEFEFE;
    display: flex;
    align-items: center;
    padding: 0px 0px 4px;
}
.sectionA ul li{
    color: #0067B8;
    font-size: 15px;
    list-style: none;
    font-weight: bold;
    margin-right: 20px;
}
.sectionB{
    width: 1835px;
    height: 6198.64px;
}
.sectionB-sub{
    width: 1835px;
    height: 740.34px;
    color: #17253D;
    font-size: 16px;
    background-color: #F4FAFD;
    padding: 96px 0px;
    border-top: 1px solid grey;
}
.Bsub-sub{
    width: 1511.5px;
    height: 548.34px;
    margin: 0px 161.75px;
    padding: 0px 91.75px;
    color: #17253D;
    font-size: 16px;
}
.up{
    width: 1344px;
    height: 64px;
    /* padding: 0px 8px; */
    font-size: 16px;
}
.up-sub{
    width:1328px;
    height: 64px;
}
.up-subsub{
    width: 475.75px;
    height: 64px;
    font-size: 16px;
}
.news{
    width: 475.75px;
    height: 16px;
    margin: 0px 0px 8px;
}
.news h6{
    letter-spacing: 1px;
}
.discover h2{
    width: 475.75px;
    height: 40px;
    color: #0E1726;
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: -.05rem;
    text-wrap: nowrap;
    font-weight: 550;
}
.down{
    width: 1336px;
    height: 436.34px;
    /* padding: 0px 8px; */
    font-size: 16px;
}
.down-sub{
    width: 1320px;
    height: 436.34px;
    font-size: 16px;
}
.down-subsub{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.class1{
    width: 429.33px;
    height: 436.34px;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 22px;
    background-color: #FFFFFF;
}
.above{
    width: 429.33px;
    height: 185.34px;
}
.abv-sub{
    width: 429.33px;
    height: 185.34px;
    color: #17253D;
    font-size: 16px;
    padding: 8px 8px 0px;
}
.above img{
    width: 413.33px;
    height: 177.34px;
    border-radius: 18px;
}
.below{
    width: 429.33px;
    height: 251px;
    font-size: 16px;
    color: #17253D;
    padding: 24px;
}
.blv1{
    width: 381.33px;
    height: 120px;
    color: #17253D;
    font-size: 16px;
}
.blv1-sub1 h3{
    width: 213.53px;
    height: 28px;
    color: #0E1726;
    font-size: 19px;line-height: 40px;
    text-wrap: nowrap;
}
.blv1-sub2{
    width: 381.33px;
    height: 72px;
    color: #17253D;
    font-size: 16px;
    padding: 0px 24px 0px 0px;
}
.blv1-sub2 span{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.03rem;
}
.blv1-sub2-sub{
    width: 357.33px;
    height: 72px;
    color: #17253D;
    font-size: 16px;
    margin-top: 20px;
}
.blv2{
    width: 381.33px;
    height: 35px;
    color: #17253D;
    font-size: 16px;
    margin: 48px 0px 0px;
}
.blv2 a{
    width: 180.08px;
    height: 35px;
    color: #004275;
    font-size: 14px;
}
.blv2 span{
    width: 137.38px;height: 22px;
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
    font-weight: bold;
}
.blv2 button{
    background-color: #0078D4;
    color:#FFFFFF;
    font-size: 15px;
    width: 34.7px;
    height: 35px;
    padding: 8px;
    border: none;
    border-radius: 8px;
}
.blv2 button i{
    font-weight: 600;
}
.main{
    width: 1835px;
    height: 763px;
}
.main img{
    width: 100%;
}
.image-container{
    margin-top: -1127px;
    margin-left: 244px;
    width: 1511.5px;
    height: 763px;
}
.row{
    width: 1344px;
    height: 64px;
    font-size: 16px;
    color: #17253D;
}
.col{
    width: 1328px;
    height: 64px;
}
.col-left{
    width: 656px;
    height: 64px;
}
.col-left-sub{
    width: 656px;
    height: 64px;
}
.left-sub{
    width: 614.58px;
    height: 64px;
    margin-right: 10px;
}
.left-top{
    width: 614.58px;
    height: 16px;
    margin: 3px 0px 8px;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
}
.left-bottom h2{
    width: 614.58px;
    height: 40px;
    font-size: 32px;
    color: #0E1726;
    text-wrap: nowrap;
}
.col-right{
    width: 656px;
    height: 64px;
}
.row-section{
    width: 1336px;
    height: 667px;
    color: #17253D;
    font-size: 16px;
    padding: 0px 8px;
}
.row-sec-sub{
    width: 1336px;
    height: 667px;
}
.sec-subsub{
    width: 1320px;
    height: 600px;
}
.sec-up{
    width: 1320px;
    height: 40px;
    margin-top: 27px;
    margin-left: 10px;
}
.sec-up button{
    border-radius: 25px;
    border: none;
}
.sec-up button span{
    font-weight: bold;
    text-wrap: nowrap;
}
.sec-up .sol{
    width: 182.19px;
    height: 40px;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
    background-color: #005597;
    font-size: 16px;
    color: #FFFFFF;
}
.sol span{
    width: 134.19px;
    height: 23px;
}
.cloud{
    width: 166.17px;
    height: 40px;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
    color: #004275;
    background-color: #0055971A;
    font-size: 16px;
}
.cloud span{
    width:118.17px;
    height: 23px;
}
.trans{
    width: 195.02px;
    height: 40px;
    color: #004275;
    font-size: 16px;
    background-color: #004275;
    font-size: 16px;
    background-color: #0055971A;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
}
.trans span{
    width: 147.02px;
    height: 23px;
}
.dev{
    width: 178.34px;
    height: 40px;
    color: #004275;
    font-size: 16px;
    background-color: #0055971A;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
}
.dev span{
    width: 130.34px;
    height: 23px;
}
.ai{
    width: 63.41px;
    height: 40px;
    color: #004275;
    font-size: 16px;
    background-color: #0055971A;
    margin: 0px 8px 0px 0px;
    padding: 8px 24px;
}
.ai span{
    width: 15.41px;
    height: 23px;
}
.sec-dwn{
    width: 1336px;
    height: 560px;
    padding: 0px 8px;
    font-size: 16px;
}
.sec-dwn-sub{
    width: 1336px;
    height: 560px;
}
.sec-subsub{
    width: 1320px;
    height: 528px;
}
.subsub{
    width: 1320px;
    height: 492px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.subsub ul{
    width: 427.59px;
    height: 492px;
}
.subsub ul li{
    list-style: none;
}
.side-image{
    width: 656px;
    height: 492px;
    margin-left: -6px;
}
.side-image img{
    width: 656px;
    height: 492px;
    border-radius: 25px;
    margin-left: -6px;

}
.li1{
    width: 412.59px;
    height: 195px;
    color: #17253D;
    font-size: 16px;
}
.indicator{
    width: 3.5px;
    height: 195px;
    background-color: #0078D4;
}
.ocr{
    width: 361.09px;
    height: 195px;
}
.button-grp{
    width: 361.09px;
    height: 60px;
}
.button-grp button{
    width: 361.09px;
    height: 60px;
    color: #0E1726;
    font-size: 16px;
    padding: 0px 0px 32px;
}
.button-grp button h3{
    width: 18.06px;
    height: 28px;
}
.accordian{
    width: 361.09px;
    height: 134px;
}
.portfolio{
    width: 361.09px;
    height: 48px;
}
.explore{
    width: 361.09px;
    height: 54px;
}
.explore a{
    width: 154.08px;
    height: 22px;
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
}
.li2{
    width: 412.59px;
    height: 93px;
    color: #17253D;
    font-size: 16px;
}
.li2-sub{
    width: 361.09px;
    height: 93px;
}
.li2-subsub{
    width:361.09px;
    height: 92px;
}
.li2-subsub button{
    width: 361.09px;
    height: 92px;
    padding: 32px 0px;
    color: #0E1726;
    font-size: 16px;
    text-wrap: nowrap;
}
.li2-subsub button h3{
    width: 312.52px;
    height: 28px;
    font-size: 20px;
    color: #0E1726;
}
.li3{
    width: 412.59px;
    height: 93px;
}
.li3-sub{
    width: 361.09px;
    height: 93px;
}
.li3-subsub{
    width: 361.09px;
    height: 92px;
}
.li3-subsub button{
    width: 361.09px;
    height: 92px;
    padding: 32px 0px;
    font-size: 16px;
    color: #0E1726;
}
.li3-subsub button h3{
    width: 312.52px;
    height: 28px;
    font-size: 20px;
    color: #0E1726;
}
.li4{
    width: 412.59px;
    height: 93px;
}
.li4-sub{
    width: 361.09px;
    height: 93px;
}
.li4-subsub{
    width: 361.09px;
    height: 92px;
}
.li4-subsub button{
    width: 361.09px;
    height: 92px;
    padding: 32px 0px;
    color: #0E1726;
    font-size: 16px;
    text-wrap: nowrap;
}
.li4-subsub button h3{
    width: 67.31px;
    height: 28px;
    font-size: 20px;
    color: #0E1726;
}
.li5{
    width: 361.09px;
    height: 92px;
}
.li5-sub{
    width: 361.09px;
    height: 93px;
}
.li5-subsub{
    width: 361.09px;
    height: 92px;
}
.li5-subsub button{
    width: 361.09px;
    height: 92px;
    text-wrap: nowrap;
}
.li5-subsub button h3{
    width: 176.98px;
    height: 28px;
    font-size: 20px;
    color: #0E1726;
}
.view{
    width: 1320px;
    height: 35px;
    color: #004275;
    font-size: 14px;
}
.abv-footer{
    padding-top: 5009px;
}
.abv-footer img{
    width: 100%
}
.container{
    width: 1511.5px;
    height: 355px;
    margin-top: -530px;
}
.step1{
    width: 1344px;
    height: 48px;
}
.step1-sub{
    width: 1328px;
    height: 48px;
}
.step1-sub h3{
    width: 297.31px;
    height: 48px;
    font-size: 40px;
    color: #0E1726;
}
.step2{
    width:1336px;
    height: 259px;
}
.step2-sub{
    width: 1336px;
    height: 259px;
}
.step2-subsub{
    width: 1320px;
    height: 259px;
    color: #17253D;
    font-size: 16px;
    display: flex;
}
.card1{
    width: 429.33px;
    height: 259px;
}
.card1-sub{
    width: 429.33px;
    height: 259px;
    padding: 24px;
    font-size: 16px;
    color: #17253D;
}
.card1-up{
    width: 381.33px;
    height: 96px;
    padding: 0px 24px 0px 0px;
    font-size: 16px;
    color: #17253D;
}
.card1-up1{
    width: 381.33px;
    height: 96px;
}
.card1-up1 h3{
    width: 268.7px;
    height: 32px;
    font-size: 24px;
    color: #0E1726;
}
.card1-up2{
    width: 357.33px;
    height: 48px;
    font-size: 16px;
    color: #002948;
}
.card1-up2 span{
    width: 339px;
    height: 45px;
}
.card1-dwn{
    width: 381.33px;
    height: 35px;
    color: #17253D;
    font-size: 16px;
    margin: 48px 0px 0px;
}
.card1-dwn a{
    width: 145.58px;
    height: 35px;
    color: #004275;
    font-size: 14px;
}
.card1-dwn a button{
    width: 34.7px;
    height: 35px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;
    padding: 8px;
}
.card1-dwn a button i{
    width: 14.7px;
    height: 15px;
}
.card1-dwn a span{
    width: 102.88px;
    height: 22px;
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
}
.card2{
    width: 429.33px;
    height: 259px;
}
.card2-sub{
    width: 429.33px;
    height: 259px;
    padding: 24px;
    font-size: 16px;
    color: #17253D;
}
.card2-up{
    width: 381.33px;
    height: 96px;
    padding: 0px 24px 0px 0px;
    font-size: 16px;
    color: #17253D;
}
.card2-up1 h3{
    font-size: 24px;
    color: #0E1726;
}
.card2-up2{
    font-size: 16px;
    color: #002948;
}
.card2-dwn{
    width: 381.33px;
    height: 35px;
    color: #17253D;
    font-size: 16px;
    margin: 48px 0px 0px;
}
.card2-dwn a{
    color: #004275;
    font-size: 14px;
}
.card2-dwn a button{
    width: 34.7px;
    height: 35px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;
    padding: 8px;
}
.card2-dwn a button i{
    width: 14.7px;
    height: 15px;
}
.card2-dwn a span{
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
}
.card3{
    width: 429.33px;
    height: 259px;
}
.card3-sub{
    width: 429.33px;
    height: 259px;
    padding: 24px;
    font-size: 16px;
    color: #17253D;
}
.card3-up{
    width: 381.33px;
    height: 96px;
    padding: 0px 24px 0px 0px;
    font-size: 16px;
    color: #17253D;
}
.card3-up1 h3{
    font-size: 24px;
    color: #0E1726;
}
.card3-up2{
    font-size: 16px;
    color: #002948;
}
.card3-dwn{
    width: 381.33px;
    height: 35px;
    color: #17253D;
    font-size: 16px;
    margin: 48px 0px 0px;
}
.card3-dwn a{
    color: #004275;
    font-size: 14px;
}
.card3-dwn a button{
    width: 34.7px;
    height: 35px;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #0078D4;
    padding: 8px;
}
.card3-dwn a button i{
    width: 14.7px;
    height: 15px;
}
.card3-dwn a span{
    color: #004275;
    font-size: 14px;
    padding: 0px 0px 2px;
}
footer{
    width: 1835px;
    height: 658.19px;
    color: #1A1A1F;
    font-size: 12px;
    background-color: #F4F5F6;
    padding: 48px 0px 36px;
    margin-top: 5540px;
}
.footer-sub{
    width: 1600px;
    height: 48px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 0px 117.5px;
    padding: 0px 18px;
    display: flex;
}
.footer-sub .azuzu{
    width: 211.59px;
    height: 48px;
    font-size: 12px;
    background-color: #EAEBEC;
    padding: 12px;
}
.footer-sub  a img{
    width: 24px;
    height: 24px;
}
.footer-sub a span{
    width: 151.59px;
    height: 18.19px;
    color: #4C4C51;
    font-size: 14px;
    /* margin: 0px 0px 0px 12px; */
    text-wrap: nowrap;
}
.footer-sub ul{
    display: flex;
}
.footer-sub ul li{
    list-style: none;
}
.azu{
    width: 24px;
    height: 24.53px;
}
.insta{
    width: 24px;
    height: 25px;
}
.linkedin{
    width: 24px;
    height: 25px;
}
.foot-sub{
    width: 240.66px;
    height: 338.19px;
    color: #1A1A1F;
    font-size: 12px;
}
.foot-sub h3{
    width: 240.66px;
    height: 18.19px;
    color: #1A1A1F;
    font-size: 14px;
}
.foot-sub ul{
    width: 240px;
    height: 268px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 12px 0px 0px;
}
.foot-sub ul li{
    width: 240.66px;
    height: 28px;
    color: #1A1A1F;
    font-size: 12px;
    padding: 2px 0px;
    list-style: none;
}
.foot{
    width: 1600px;
    height: 338.19px;
    color: #1A1A1F;
    font-size: 12px;
    margin: 36px 117.5px 0px;
    padding: 0px 18px;
    display: flex;
}