nav, .container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.nav-links li{
    list-style: none;
}
h4{
    font-size: 50px;
    font-family: helvetica;
}
button{
    position: fixed;
    top: 30%;
    height: 50px;
    width: 500px;
    background-color:aqua;
    border: 2px solid black;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: helvetica;
    font-style: italic;
}